<!DOCTYPE html>
<html>

<meta charset="utf-8">
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>
<head>
	<title></title>
	<style>
	table, td {
		border-collapse: collapse;
		margin: 15px 15px;
		padding: 5px 5px;
	}
	.top_row {
	  font-weight: bold;
	  color: #808080;
	}

	thead,tfoot {
		font-weight: bold;
	    background-color: #333;
	    color:white;
	}

	.info {
    	background-color: #E2E2E2;
    	margin:5px;
    	padding:5px;
    }
	</style>
	 <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
  </script>
</head>


<body>
	<div style="display:flex;">
		<div class="info" style="border:1px solid black; max-width: 500px">
			Explanation for each column:	
			<ul>
				<li>Label: An assigned label for each motif.</li><br>
				<li>count: The number of subsequences used in the MSA to estimate the PWM. This is \(N_j\) as in the definition of Likelihood ratio scores. Each subsequence in 
					the MSA comes from different sequences in the dataset.</li>
				<br>
				<li>LRS: Likelihood ratio score. </li>
				<br>
				<li>E-value: The statistical significance of the motif as the number of subsequence covered in the input sequences and the control sequences are essentially the
					same. This is done the same way as STREME: the p-value times the number of discovered motifs; the p-value is obtained via Fisher-exact-test.
			</ul>
			<center><h4>Likelihood ratio scores:</h4></center>
			Let \(P_j\) be the position frequency matrix estimated from the \(j\)th learned motif and \(N_j\) be the number of sequences used in the estimation of \(P_j\).
			The <i>likelihood ratio score</i> of the \(j\)th learned motif of length \(L\) is 
			$$ \sum_{n=1}^{N_j}\sum_{\ell=1}^L \sum_{\alpha} \unicode{x1D7D9}\left[s_n[\ell]=\alpha\right] \, P_j[\alpha,\ell]\, \ln \frac{P_j[\alpha,\ell]}{B[\alpha]}$$
			where \(B[\alpha]\) is the background frequency of nucleotide \(\alpha\), \(s_n\) the \(n\)th substring used in estimating \(P_j\),
			and \(\unicode{x1D7D9}[\cdot]\) is the indicator function. In this experiment, \(B[\alpha]=1/4,\,\forall \alpha\).		
		</div>
		<div style="float:left; margin:10px"> 
			
			<table>
				<thead>
					<tr>
						<th colspan="100%">
							Discovered motifs
						</th>
					</tr>
				</thead>
			<tbody>	
					Number of input sequences: {{num_seq}}
					<tr class="top_row">
					{% for i in range(discovered[1]|length) %}
						<td>Label</td><td>count</td><td>LRS</td><td>E-value</td><td>Logo</td>
					{% endfor %}
					</tr>			
					{% for d in range(discovered|length) %}
						<tr>
						{% for i in range(discovered[d]|length) %}
							<td>D{{ d_indices[d][i] }}</td>
							<td>{{msa_count[d][i]}}</td>
							<td>{{ssc[d][i]}}</td>
							<td>{{evalues[d][i]}}</td>
							<td><img id="d_logo_{{d_indices[d][i]}}" width="165" src="{{ discovered[d][i] }}.png"><br>
								<div id="d_orientation_{{d_indices[d][i]}}">Learned PWM</div><br>
								<button type="button" onclick="discovered_{{d_indices[d][i]}}_changeToRC()">Reverse complement</button>
							</td>
							<!-- <td><div id="cover_ratio_bar_plot{{ d_indices[d][i] }}"></div></td> -->
							<script type="text/javascript">					
									function discovered_{{d_indices[d][i]}}_changeToRC() {
										var image = document.getElementById("d_logo_{{d_indices[d][i]}}");
										if (image.src.match("_c")) {
							                image.src = "{{ discovered[d][i] }}.png";
							            } else {
							            	image.src = "{{ discovered[d][i] }}_c.png";
							            }
							            var orientation = document.getElementById("d_orientation_{{d_indices[d][i]}}");
							            if (orientation.innerHTML === "Learned PWM"){
							            	orientation.innerHTML = "Learned PWM's reverse-complement";
							            } else {
							            	orientation.innerHTML = "Learned PWM";
							            }
									}						 
							</script>	
						{% endfor %}
						<td> &nbsp&nbsp&nbsp </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<br><br>	
		</div>

<!-- 		<div style="float:left; margin:10px">			
						<br><br>
						<center>Likelihood ratio scores:
						<div id="likelihood_ratio_score_table"></div>
						</center>
					<script type="text/javascript">
						const l_margin = {top: 40, right: 40, bottom: 40, left: 40},
						    l_width = 700 - l_margin.left - l_margin.right,
						    l_height = 500 - l_margin.top - l_margin.bottom;

						// append the svg object to the body of the page
						const l_svg = d3.select("#likelihood_ratio_score_table")
						  .append("svg")
						    .attr("width",  l_width + l_margin.left + l_margin.right)
						    .attr("height", l_height + l_margin.top + l_margin.bottom)
						  .append("g")
						    .attr("transform", `translate(${l_margin.left}, ${l_margin.top})`);

					    d3.csv("./score_contributions.csv").then( function(data) {
					    	// Add X axis
						  const x = d3.scaleLinear()
						    .domain([0, {{max_lr_score}}])
						    .range([ 0, l_width]);
						  l_svg.append("g")
						    .attr("transform", `translate(0, ${l_height})`)
						    .call(d3.axisBottom(x))
						    .selectAll("text")
						      .attr("transform", "translate(-10,0)rotate(-45)")
						      .style("text-anchor", "end");

						  // Y axis
						  const y = d3.scaleBand()
						    .range([ 0, l_height ])
						    .domain(data.map(d => d.discovered))
						    .padding(.1);
						  l_svg.append("g")
						    .call(d3.axisLeft(y))

					       //Bars
						  l_svg.selectAll("myRect")
						    .data(data)
						    .join("rect")
						    .attr("x", x(0) )
						    .attr("y", d => y(d.discovered))
						    .attr("width", d => x(d.contribution))
						    .attr("height", y.bandwidth())
						    .attr("fill", "#69b3a2")	
					    })
					</script>
		</div> -->



	<!--- D3 stuff for discovered motifs --->
	<script type="text/javascript">

	{% for d in range(d_indices|length) %}
	{% for i in range(d_indices[d]|length) %}
		// set the dimensions and margins of the graph
		const margin{{d_indices[d][i]}} = {top: 25, right: 25, bottom: 25, left: 25},
		    width{{d_indices[d][i]}} = 275 - margin{{d_indices[d][i]}}.left - margin{{d_indices[d][i]}}.right,
		    height{{d_indices[d][i]}} = 125 - margin{{d_indices[d][i]}}.top - margin{{d_indices[d][i]}}.bottom;

		// append the svg object to the body of the page
		const svg{{d_indices[d][i]}} = d3.select("#cover_ratio_bar_plot{{d_indices[d][i]}}")
		  .append("svg")
		    .attr("width", width{{d_indices[d][i]}} + margin{{d_indices[d][i]}}.left + margin{{d_indices[d][i]}}.right)
		    .attr("height", height{{d_indices[d][i]}} + margin{{d_indices[d][i]}}.top + margin{{d_indices[d][i]}}.bottom)
		  .append("g")
		    .attr("transform", `translate(${margin{{d_indices[d][i]}}.left}, ${margin{{d_indices[d][i]}}.top})`);

		// Parse the Data
		d3.csv("./ratio{{d_indices[d][i]}}.csv").then( function(data) {

		  // Add X axis
		  const x = d3.scaleLinear()
		    .domain([0, 1])
		    .range([ 0, width{{d_indices[d][i]}}]);
		  svg{{d_indices[d][i]}}.append("g")
		    .attr("transform", `translate(0, ${height{{d_indices[d][i]}}})`)
		    .call(d3.axisBottom(x))
		    .selectAll("text")
		      .attr("transform", "translate(-10,0)rotate(-45)")
		      .style("text-anchor", "end");

		  // Y axis
		  const y = d3.scaleBand()
		    .range([ 0, height{{d_indices[d][i]}} ])
		    .domain(data.map(d => d.target))
		    .padding(.1);
		  svg{{d_indices[d][i]}}.append("g")
		    .call(d3.axisLeft(y))

		  //Bars
		  svg{{d_indices[d][i]}}.selectAll("myRect")
		    .data(data)
		    .join("rect")
		    .attr("x", x(0) )
		    .attr("y", d => y(d.target))
		    .attr("width", d => x(d.cover_ratio))
		    .attr("height", y.bandwidth())
		    .attr("fill", "#69b3a2")
		})
	{% endfor %}
	{% endfor %}
	</script>

</body>

</html>